.a-1{
    background-size: cover;
    background-image: url(https://i.ibb.co/cvpntL1/hats.png);
    background-position: center;
    height: 80%;    
}
.a-2{
    background-size: cover;
    background-image: url(https://i.ibb.co/1f2nWMM/wolf-cap.png);
    background-position: center;    
}
.a-3{
    background-size: cover;
    background-image: url(https://i.ibb.co/ypkgK0X/blue-beanie.png);
    background-position: center;    
}
.a-4{
    background-size: cover;
    background-image: url(https://i.ibb.co/QdJwgmp/brown-cowboy.png);
    background-position: center;    
}
.b-1{
    background-size: cover;
    background-image: url(https://i.ibb.co/0s3pdnc/adidas-nmd.png);
    background-position: center;    
}
.b-2{
    background-size: cover;
    background-image: url(https://i.ibb.co/bPmVXyP/black-converse.png);
    background-position: center;    
}
.b-3{
    background-size: cover;
    background-image: url(https://i.ibb.co/1RcFPk0/white-nike-high-tops.png);
    background-position: center;    
}
.b-4{
    background-size: cover;
    background-image: url(https://i.ibb.co/QcvzydB/nikes-red.png);
    background-position: center;    
}
.c-1{
    background-size: cover;
    background-image: url(https://i.ibb.co/XzcwL5s/black-shearling.png);
    background-position: center;    
}
.c-2{
    background-size: cover;
    background-image: url(https://i.ibb.co/N71k1ML/grey-jean-jacket.png);
    background-position: center;    
}
.c-3{
    background-size: cover;
    background-image: url(https://i.ibb.co/mJS6vz0/blue-jean-jacket.png);
    background-position: center;    
}
.c-4{
    background-size: cover;
    background-image: url(https://i.ibb.co/M6hHc3F/brown-trench.png);
    background-position: center;    
}
.d-1{
    background-size: cover;
    background-image: url(https://i.ibb.co/7CQVJNm/blue-tank.png);
    background-position: center;    
}
.d-2{
    background-size: cover;
    background-image: url(https://i.ibb.co/KV18Ysr/floral-skirt.png);
    background-position: center;    
}
.d-3{
    background-size: cover;
    background-image: url(https://i.ibb.co/4W2DGKm/floral-blouse.png);
    background-position: center;    
}
.d-4{
    background-size: cover;
    background-image: url(https://i.ibb.co/v1cvwNf/yellow-track-suit.png);
    background-position: center;    
}
.e-1{
    background-size: cover;
    background-image: url(https://i.ibb.co/xJS0T3Y/camo-vest.png);
    background-position: center;    
}
.e-2{
    background-size: cover;
    background-image: url(https://i.ibb.co/RvwnBL8/pink-shirt.png);
    background-position: center;    
}
.e-3{
    background-size: cover;
    background-image: url(https://i.ibb.co/55z32tw/long-sleeve.png);
    background-position: center;    
}
.e-4{
    background-size: cover;
    background-image: url(https://i.ibb.co/mh3VM1f/polka-dot-shirt.png);
    background-position: center;    
}
